* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: fantasy;
}

.container {
  margin: auto;
  margin-top: 20px;
  background-image: url(./img/background.png);
  width: 900px;
  height: 506px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.header {
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}

.header__button {
  font-size: 28px;
  width: 60px;
  padding: 10px;
  background-color: beige;
  color: orange;
  border: solid orange 5px;
  border-radius: 10px;
  cursor: pointer;
}

.header__timer {
  font-size: 25px;
  background-color: beige;
  padding: 10px 10px;
  margin: 10px 15px;
  border: orange solid 5px;
  border-radius: 10px;
}

.header__timer i {
  color: orange;
  margin-right: 10px;
}
.timer-display {
  display: inline-block;
  width: 30px;
}

.header__remain {
  padding: 10px;
  background-color: beige;
  border: solid orange 5px;
  border-radius: 10px;
}

.main {
  height: 270px;
  margin-top: 165px;
}

.bug,
.carrot {
  position: absolute;
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}

.div__result {
  visibility: hidden;
  position: absolute;
  margin: 80px 200px;
  text-align: center;
  z-index: 1;
  width: 500px;
  height: 200px;
  background: rgba(240, 196, 140, 0.8);
  border-radius: 20px;
}

.div__result i {
  margin: 15px 0px 15px 0px;
  opacity: 1;
  font-size: 35px;
  background-color: beige;
  padding: 5px;
  border: 5px solid orange;
  border-radius: 10px;
  cursor: pointer;
}

.result-message {
  font-size: 35px;
}
